.inputLabel {
    font-size: var(--text-m);
    color: var(--color-gray4);
    font-weight: 700;
    margin: 0;
}

.inputField {
    border: 0;
    height: 56px;
    width: 100%;
    outline: none;
    background-color: #ffffff;
    font-size: var(--text-lg);
    color: var(--color-gray3);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inputField::placeholder {
    font-size: var(--text-lg);
    color: var(--color-gray2);
}

.inputErrorBar {
    height: 2px;
    width: 100%;
    background-color: var(--color-gray3);
}

.inputErrorBar.error {
    background-color: var(--color-warning);
}

.inputErrorMessage {
    color: var(--color-warning);
    font-size: var(--text-sm);
    margin: 0;
}
