.inputNickname {
    display: flex;
    flex-direction: column;
}

.inputNicknameRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputNicknameField {
    flex: 1;
}

.inputNicknameButton {
    padding: 0 12px;
    height: 40px;
    border: 0;
    color: var(--color-gray1);
    border-radius: 6px;
    background: var(--color-gray2);
    font-size: var(--font-size-m);
    cursor: not-allowed;
    white-space: nowrap;
}

.inputNicknameButton.active {
    background: var(--color-brand2);
    cursor: pointer;
}

.inputNicknameButton.active:active {
    background: var(--color-brand2);
}

.checkAvailable {
    color: var(--color-brand2);
    font-size: var(--font-size-sm);
    margin: 0;
}
