.input {
  border-style: none;
  background-color: transparent;
  padding-inline: 8px;
  width: 95%;
  font-size: 18px;
  outline: none;
}

.submit {
  display: none;
}

.input::placeholder {
  font-size: 18px;
}

.button {
  width: 16px;
  height: 16px;
  border-style: none;
  background-color: transparent;
  padding: 0;
}
.container {
  background-color: #f3f4f6;
  width: 324px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding-inline: 8px;
}
