.input {
  border-style: none;
  background-color: transparent;
  padding-inline: 8px;
  width: 95%;
  font-size: var(--font-size-lg);
  outline: none;
}

.submit {
  display: none;
}

.input::placeholder {
  font-size: var(--font-size-lg);
}

.input::-webkit-search-cancel-button {
  display: none;
}

.button {
  width: 16px;
  height: 16px;
  border-style: none;
  background-color: transparent;
  padding: 0;
}
.container {
  background-color: var(--color-gray1);
  width: 324px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  padding-inline: 8px;
}
