.inputTextarea {
    display: flex;
    flex-direction: column;
}

.inputTextareaField {
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    border: 0;
    outline: none;
    font-size: var(--text-lg);
    color: var(--color-gray3);
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inputTextareaField::placeholder {
    font-size: var(--text-lg);
    color: var(--color-gray2);
}
