/* LoginPage.css */

span{
   display: inline-block;
}
.login-container {
  display: flex;
  flex-direction: column;  /* 좌우 → 상하 */
  align-items: center;     /* 가로(좌우) 가운데 */
 /* justify-content: center;/*  세로(상하) 가운데 */
  height: 100%;
 background: conic-gradient(
  #f1fff6 0deg,
  #fbfdf0 120deg,
  #ccfbf5 240deg,
  #f1fff6 360deg /* 맨 처음 색과 같게 */
);

}

.login-form {
  margin: 180px 32px 0 32px;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 191px;
  margin-bottom: 44px;
 
  

}



.inputmargin{
  
  margin-bottom: 8px;
 
}
.logininput {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  height: 42px;
  background-color: rgba(0, 87, 55, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #1b5e20;
}

.login-links {
   align-items: center;
  display: flex;
  justify-content: center; 
  text-align: center;
  font-size: 12px;
  color: #555;
  margin-top: 16px;
}
.login-links div {
  width: 1px;
  height: 16px;
  background-color: #878787;
}
.login-link {
all: unset;     
margin-left: 6px;
margin-right: 6px;
}

.login-message {
  text-align: center;
  margin-top: 12px;
  color: rgb(255, 128, 0);
  font-size: 14px;
}
.kakaobutton{
  position: fixed;
  left: 32px;
  right: 32px;
  bottom: 50px;
  height: 42px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: yellow;
  font-size: 16px;
   align-items: center;     /* 가로(좌우) 가운데 */
 justify-content: center;
 display: flex;
}
.kakaologo{
  width: 16px;
  height: 16px;
  margin-right: 8px;
  
}
.comkalo{
  left: 32px;
  right: 32px;
  bottom: 50px;
  height: 42px;
  border-radius: 5px;
  background: none;
  border: none;
  position: fixed;
}