.PWinput-bar{
    height: 2px;
    width: 100%;
    background-color: #4D4F50;
}
.PWinput-bar.red{
    background-color:red;
}
.PWinput-error{
    color: red;
    font-size: 12px;
    margin: 0;
}
.PWinput{
    background-color: none;
    border-width: 0;
    height: 56px;
    width: 100%;
    background-color: #ffffff;
    outline: none;
    font-size: 18px;
}
.PWinput-container{
    margin: 0 16px 0 16px;
}
.space-40px{
    height: 40px;
}
.space-28px{
    height: 28px;
}
.PWinput-tittle{
    margin: 0;
    font-size: 16px;
    color: #4D4F50;
    font-weight: 700;
}
.PWsubmit{
    height: 48px;
    background-color: #D0CFD4;
    color: #EDF2F4;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 0 16px;
    border: 0;
     width: calc(100% - 32px);
}
.PWsubmit.check{
background-color: #00A066;
/* background-color: #004643; */
}
.errorMSG{
    text-align: center;
    margin-top: 32px;
}
input::placeholder {
  color: #D0CFD4;
  font-size: 14px;
}