.image-container{

  justify-items: center;
  align-items: center;  
  display: flex;
}

 .plus-icon{
  border: 1px solid #4D4F50;
  height: 56px;
  width: 56px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;  
  display: flex;
  border-radius: 5px;
  color: #4D4F50;
}
.thumbnail{
  width: 56px;
  height: 56px;
  border:1px solid #4D4F50;
  margin-right: 8px;
  border-radius: 5px;
  
}
.thumbnail img{
   width: 56px;
  height: 56px;
  
}
.select-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.select-wrapper {
  position: relative;
  width: 100%;
}