.searchHistory {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.searchHistoryHeader {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  width: calc(100% - 16px * 2);
  height: 48px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
}
.searchHistoryContainer {
  display: flex;
  gap: 10px;
  flex-wrap: no-wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 48px;
}
.searchRank {
  padding-inline: 25px;
}
.searchHistoryContainer::-webkit-scrollbar {
  display: none;
}
.clearHistoryButton {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  padding-top: 100px;
}
.searchHistoryWord {
  height: 40px;
  display: flex;
  padding-inline: 16px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.historyDeleteButton {
  background-color: transparent;
  border: 0;
  padding: 0;
}
.iconWordGroup {
  align-items: center;
  display: flex;
  column-gap: 16px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}