.share-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 102px; /* 헤더 높이 고려 */
  padding-bottom: 80px; /* 하단 버튼 안 가리게 */
  background-color: #fff;
  border-radius: 8px;
  min-height: 100vh;
}


.share-header{
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;


  background: #fff;
  z-index: 1000;

  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}
.share-nochi{
  height: 54px;
}
.share-text {
 
    height: 48px;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
.share-text h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.share-form{
  margin: 36px 16px ;
  top: 0;
}
.share-input{
width: 100%;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;
  overflow: hidden;
 outline: none;
}
.share-input input{
  border: 1px solid #aaa;
  background-color: #fff;
  width: auto;
  height: 40px;
}
.share-input span{
  padding: 0 16px;
}