.overlay {
    composes: overlay from './common.module.css';
    background: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
}

.container {
    composes: container from './common.module.css';
    padding: 8px 0 40px;
}

.item {
    padding: 16px 40px;
    border: none;
    background: none;
    font-size: var(--font-size-lg);
    color: var(--color-gray4);
    cursor: pointer;
    text-align: center;
}

.item.active {
    color: var(--color-brand2);
    font-weight: var(--font-weight-bold);
}

.item:hover {
    background: var(--color-gray1);
}
