.notchArea {
  height: 44px;
  justify-items: center;
}
.cameraArea {
  width: 40%;
  background-color: black;
  border-radius: 0 0 1100px 1100px;
  height: 24px;
}
.headerContent {
  height: 56px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  padding-inline: 16px;
  color: var(--color-gray4);
  position: relative;
}
.headerContentCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  max-width: calc(100% - 96px);
  overflow: hidden;
}
.headerBody {
  background-color: white;
  position: fixed;
  width: 100%;
}
.headerDivider {
  height: 1px;
  width: 100%;
  background-color: var(--color-gray2);
}
.headerSpace {
  height: 81px;
  width: 100%;
  flex-shrink: 0;
}
.centerTitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}

.mainTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.linkGroup {
  display: flex;
  column-gap: 24px;
}
