.headerbar {
    height: 1px;
    width: 100%;
    background-color: var(--color-gray2);
}

.addressLabel {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray4);
    margin: 0;
}

.addressInput {
    border: none;
    border-bottom: 2px solid var(--color-gray3);
    outline: none;
    font-size: var(--font-size-lg);
    color: var(--color-gray3);
    height: 56px;
    background: none;
    width: 100%;
    margin-bottom: 28px;
}